<html>
  <head>
    <title>Maps!</title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="/MarkerCluster.css" /> 
    <link rel="stylesheet" href="/MarkerCluster.Default.css" /> 

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="/leaflet.markercluster.js"></script>   
  </head>
  <body>
    <form action="/students" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
        <label for="city">City:</label>
        <input type="text" id="city" name="city" />
        <button type="submit">Add Student</button>
    </form>

    <div id="map"></div>
    <style type="text/css">
      #map { height: 100%; }
    </style>
    
    <script type="text/javascript">
      var map = L.map('map', { minZoom: 4, maxZoom: 9 }).setView([33.520, -86.802], 5);
      // http://otile1.mqcdn.com/tiles/1.0.0/[map|sat]
      // http://otile1.mqcdn.com/tiles/1.0.0/map/8/126/87.jpg
      // /{z}/{x}/{y}.png
      L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 9
      }).addTo(map);

      <% if @cluster %>
        var markers = L.markerClusterGroup({ showCoverageOnHover: false, maxClusterRadius: 28 });

        <% @students.each do |student| %>
          var marker = L.marker(new L.LatLng(<%=student.gps_lat%>,<%=student.gps_lon%>), { 'title': "<%= student.name %>" });
          marker.bindPopup("<div><h3><%= student.name %></h3><p><%= student.city %> <i><a href=\"#\">edit</a></i></p></div>");
          markers.addLayer(marker);
        <% end %>

        map.addLayer(markers);
      <% else %>
        <% @students.each do |student| %>
          L.marker([<%=student.gps_lat%>,<%=student.gps_lon%>]).addTo(map);
        <% end %>
      <% end %>
    </script>
  </body>
</html>