<div id="map"></div>
<style type="text/css">
  #map { height: 100%; }
</style>

<script type="text/javascript">
  var map = L.map('map', { minZoom: 4, maxZoom: 9, worldCopyJump: true }).setView([33.520, -86.802], 5);
  L.tileLayer("<%= @tile_layer %>", {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png"><% if @satellite then %>, Portions Courtesy NASA/JPL-Caltech and U.S. Depart. of Agriculture, Farm Service Agency<% end %>',
    maxZoom: 9
  }).addTo(map);

  <% if @cluster %>
    var markers = L.markerClusterGroup({ showCoverageOnHover: false, maxClusterRadius: 28 });

    <% @students.each do |student| %>
      var marker = L.marker(new L.LatLng(<%=student.gps_lat%>,<%=student.gps_lon%>), { 'title': "<%= student.name %>" });
      marker.bindPopup("<div><h3><%= student.name %></h3><p><%= student.city %> <i><a href=\"#\">edit</a></i></p></div>");
      markers.addLayer(marker);
    <% end %>

    map.addLayer(markers);
  <% else %>
    <% @students.each do |student| %>
      L.marker([<%=student.gps_lat%>,<%=student.gps_lon%>]).bindPopup("<div><h3><%= student.name %></h3><p><%= student.city %> <i><a href=\"#\">edit</a></i></p></div>").addTo(map);
    <% end %>
  <% end %>
</script>