<div id="map"></div>
<style type="text/css">
  #map { height: 100%; }
</style>

<script type="text/javascript">
  var map = L.map('map', { minZoom: 4, maxZoom: 9, worldCopyJump: true }).setView([33.520, -86.802], 5);
  L.tileLayer("http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png", {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png"><% if @satellite then %>, Portions Courtesy NASA/JPL-Caltech and U.S. Depart. of Agriculture, Farm Service Agency<% end %>',
    maxZoom: 9
  }).addTo(map);

  <% if @cluster %>
    var markers = L.markerClusterGroup({ showCoverageOnHover: false, maxClusterRadius: 28 });
    map.addLayer(markers);
  <% end %>

  var students = {};

  <% @students.each do |student| %>
    students[<%= student.id %>] = {
      id:   '<%=h student.id %>',
      name: '<%=h student.name %>',
      city: '<%=h student.city %>',
      lat:  '<%=h student.gps_lat %>',
      lon:  '<%=h student.gps_lon %>'
    };
  <% end %>

  Object.keys(students).forEach(function(student_id) {
    var student = students[student_id];
    var marker = L.marker(new L.LatLng(student.lat, student.lon), { 'title': student.name });
    marker.bindPopup('<div><h3>'+student.name+'</h3><p>'+student.city+' (<i><a href="#" data-toggle="modal" data-target="#edit-student" data-studentid="'+student.id+'">edit</button></i>)</p></div>');

    if (<%= @cluster %>) {
      markers.addLayer(marker);
    } else {
      marker.addTo(map);
    }
  });

  $(function() {
    $('#edit-student').on('show.bs.modal', function(event) {
      var student_id = $(event.relatedTarget).data('studentid');
      var student = students[student_id];

      var modal = $(this);
      modal.find('input#id').val(student.id);
      modal.find('input#name').val(student.name);
      modal.find('input#city').val(student.city);
      modal.find("#edit-form").attr('action', '/students/'+student.id);
      modal.find("#delete-form").attr('action', '/students/'+student.id);
    });

    $('#edit-student .modal-footer #edit-btn').click(function() {
      $('#edit-student #edit-form').submit();
    });

    $('#edit-student .modal-footer #delete-btn').click(function() {
      $("#edit-student #delete-form").submit();
    });
  });
</script>

<%= erb :edit_dialog %>